TOKEN=
CAMELOT=
ELDER=

PREFIX=/

CLIENTID=
CLIENTID_CAMELOT=706183309943767112
CLIENTID_ELDER=695286837568340119
CLIENTID_POKE=691399125517992086

PATREON_TOKEN=
PATREON_CAMPAIGN_ID=

RANK_AUTH=
RANK_API_KEY=

TOPGG_AUTH=
TOPGG_TOKEN=

OPENAI_API_KEY=

RUNWARE_SOURCE=runware
RUNWARE_API_KEY=

GEMINI_API_KEY=

DONATEBOT_KEY=

PG_USER=
PG_DATABASE=
PG_PASSWORD=
PG_PORT=5432

ADMINS=489490486734880774
ADMIN_APOLLO=489490486734880774
ADMIN_POKE=449931690601873419

VERSION=2.6.1